{% extends 'layout.html' %}
{% block content %}
<style>
    .table-data {
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .export {
        display: flex;
        justify-content: flex-end;
    }
    
    .pagination-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
</style>
<body>
    <div class="container">
        <h1>Admin Panel</h1>
        <div class="nav">
            <a class="btn btn-link btn-sm" href="{{ url_for('admin.get_documents') }}">See Documents</a>
            <a href="{{ url_for('admin.get_leads') }}" class="btn btn-link btn-sm">See Leads</a>
            <a href="{{ url_for('client.client') }}" class="btn btn-link btn-sm">Chat</a>
        </div>
        <div class="export">
            <a class="btn btn-primary btn-sm" href="{{ url_for('admin.export_data') }}">Export Data</a>
        </div>
        <div class="table-data">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Time</th>
                        <th scope="col">Conversation</th>
                    </tr>
                </thead>
                {% for session in sessions %}
                <tr>
                    <td>{{ session.id }}</td>
                    <td>{{ session.start_time }}</td>
                    <td>
                        <!-- link to the conversations -->
                        <a href="{{ url_for('admin.view_session', session_id=session.id) }}">View Conversation</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <div class="pagination-container">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item {% if not sessions.has_prev %}disabled{% endif %}">
                            <a class="page-link" href="{{ url_for('admin.admin', page=sessions.prev_num) if sessions.has_prev else '#' }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% for page_num in sessions.iter_pages(left_edge=1, left_current=1, right_current=2, right_edge=1) %}
                            {% if page_num %}
                                <li class="page-item {% if page_num == sessions.page %}active{% endif %}">
                                    <a class="page-link" href="{{ url_for('admin.admin', page=page_num) }}">{{ page_num }}</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">...</span>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <li class="page-item {% if not sessions.has_next %}disabled{% endif %}">
                            <a class="page-link" href="{{ url_for('admin.admin', page=sessions.next_num) if sessions.has_next else '#' }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>
{% endblock %}