{% extends 'layout.html' %}
{% block content %}
<style>
    .table-data {
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .export {
        display: flex;
        justify-content: flex-end;
    }
</style>
<body>
    <div class="container">
        <h1>Admin Panel</h1>
        <div class="export">
            <a class="btn btn-primary btn-sm" href="{{ url_for('admin.export_data') }}">Export Data</a>
        </div>
        <div class="table-data">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">User Message</th>
                        <th scope="col">Bot Response</th>
                        <th scope="col">Timestamp</th>
                    </tr>
                </thead>
                {% for convo in conversations %}
                <tr>
                    <td>{{ convo.id }}</td>
                    <td>{{ convo.user_message }}</td>
                    <td>{{ convo.bot_response }}</td>
                    <td>{{ convo.timestamp }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
{% endblock %}