{% extends 'layout.html' %}
{% block content %}
<style>
    .table-data {
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .export {
        display: flex;
        justify-content: flex-end;
    }
</style>
<body>
    <div class="container">
        <h1>Admin Panel</h1>
        <div class="nav">
            <a class="btn btn-link btn-sm" href="{{ url_for('admin.get_documents') }}">See Documents</a>
        </div>
        <div class="export">
            <a class="btn btn-primary btn-sm" href="{{ url_for('admin.export_data') }}">Export Data</a>
        </div>
        <div class="table-data">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Time</th>
                        <th scope="col">Conversation</th>
                    </tr>
                </thead>
                {% for session in sessions %}
                <tr>
                    <td>{{ session.id }}</td>
                    <td>{{ session.start_time }}</td>
                    <td>
                        <!-- link to the conversations -->
                        <a href="{{ url_for('admin.view_session', session_id=session.id) }}">View Conversation</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
{% endblock %}