{% extends 'layout.html' %}

{% block title %}Upload{% endblock %}
{% block content %}
<div class="main mt-5">
    <h3>Upload your admissions-based document here.</h3>
    <div class="d-flex justify-content-between mb-3">
        <small>Accepted filetypes: <code>.pdf</code>, <code>.md</code>. Maximum individual file size: 10MB. Multiple files allowed.</small>
        <a class="btn btn-primary" href="{{ url_for('admin.get_documents') }}">Uploaded Documents</a>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}} message" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="upload">
        <form id="uploadForm" action="{{ url_for('admin.upload') }}" method="POST" enctype="multipart/form-data">
            <div class="input-group">
                <input type="file" name="file" class="form-control" id="inputGroupFile" aria-describedby="inputGroupFileAddon" aria-label="Upload" multiple>
                <button class="btn btn-outline-primary" type="submit" id="inputGroupFileAddon">Upload</button>
            </div>
        </form>
    </div>
    <div class="or my-3">
        <small>
            Alternatively, you can upload a document by providing a link to the file. This is useful for web-based documents.
        </small>
    </div>
    <div class="upload-web">
        <form id="uploadForm" action="{{ url_for('admin.upload_web') }}" method="POST">
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping">Link</span>
                <input type="text" class="form-control" placeholder="apc.edu.ph/..." aria-label="uri" aria-describedby="addon-wrapping">
                <button class="btn btn-outline-primary" type="submit">Upload</button>
            </div>
        </form>
    </div>

    <div id="loading-component" style="display: none;">
        <div id="loader" class="spinner-border" role="status">
        </div>
        <span>Uploading...</span>
    </div>
</div>
<script>
    const form = document.getElementById('uploadForm');
    form.addEventListener('submit', function(event) {
        // hide the form and show the loader
        document.getElementById('uploadForm').style.display = 'none';
        document.getElementById('loading-component').style.display = 'block';
    });
</script>
{% endblock %}